.Main{
    width:300px;
    height:647px;
  
    position: relative;
    left: 0px;
    right:0;
    top:30px;
    bottom: 50px;
    margin:auto;
    background-color: black;
    z-index: -2;
}

.Bu {
    position: relative;
    border-width: 0.1px;
    border: 0.05px solid transparent;
    border-radius: 8px;
    background: linear-gradient(90deg, rgb(0, 0, 0) -30.64%,#420117 4%, #dc5217f6 51.94%, rgb(0, 0, 0) 116.51%);
    background-clip: padding-box;
    padding: 0px;
    width: 264.5px;
    height: 37px;
    cursor: pointer;
    align-self: center;
    left: 8%;
    letter-spacing: 0.6px;
    font-stretch: extra-expanded;

    color: white;
    font-weight: 550;
    

    
    
  
    margin: auto;


    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    margin: auto;
   
}

.Bu::after {
    position: absolute;
    top: -0.7px; bottom: -0.9px;
    left: -1px; right: -1.2px;
    background: linear-gradient(90deg, transparent, #ff8c00d4);
    content: '';
     z-index: -1; 
    border-radius: 0 8px 8px 0;
    
}





.H1 {
    text-align: center;
    font-size: 23.4px;
    color: white;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
    font-weight: normal; /* Reduce font weight */
}

.H2 {
    text-align: center;
    font-size: 15.2px;
    color: gray;
    font-family: 'Inter', sans-serif;
    margin-top: 0;
    font-weight: normal; /* Reduce font weight */
}



.imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
  
   position: relative;
}
.svg1{
    position: absolute;
    z-index: 2;

}
.svg2{
    position: relative;
    z-index: 999;
}

